The goal of this notebook is to code a decision tree classifier that can be used with the following API.

```Python
df = pd.read_csv("data.csv")
```


```
train_df, test_df = train_test_split(df, test_size=0.2)
tree = decision_tree_algorithm(train_df)
accuracy = calculate_accuracy(test_df, tree)
```

In [18]:
# markdown

# Import Statements

In [3]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import random
from pprint import pprint

# Data preparation
### Amazon cell phone

In [4]:
df = pd.read_csv(r"C:\Users\Himanshu\Desktop\My Things\Book3.csv")
df = df.rename(columns={"classify": "label"})

In [5]:
df.head()

,response,reply,profile_useful,thickness,template,star_rating,verified,helpful_votes,label
0,Y,Y,>=20%,thick,N,>=2,False,>=50,nf
1,Y,Y,>=20%,thick,N,<2,True,>=50,nf
2,Y,Y,>=20%,thick,Y,>=2,False,>=50,nf
3,Y,Y,>=20%,thick,Y,<2,True,<50,nf
4,Y,N,>=20%,thick,N,>=2,True,<50,nf

In [6]:
df.head

<bound method NDFrame.head of    response reply profile_useful thickness template star_rating  verified  \
0         Y     Y          >=20%     thick        N         >=2     False
1         Y     Y          >=20%     thick        N          <2      True
2         Y     Y          >=20%     thick        Y         >=2     False
3         Y     Y          >=20%     thick        Y          <2      True
4         Y     N          >=20%     thick        N         >=2      True
5         Y     N          >=20%     thick        N          <2     False
6         Y     N          >=20%     thick        Y         >=2     False
7         Y     N          >=20%     thick        Y          <2      True
8         N     N          >=20%     thick        N         >=2     False
9         N     N          >=20%     thick        N          <2      True
10        N     N          >=20%     thick        Y         >=2     False
11        N     N          >=20%     thick        Y          <2      True
12        Y     N          >=20%     thick        N         >=2     False
13        N     N           <20%     thick        N          <2     False
14        N     N           <20%      thin        Y          <2     False
15        N     N           <20%      thin        Y         >=2      True
16        N     N           <20%      thin        N          <2      True
17        N     N           <20%      thin        N         >=2      True
18        Y     Y           <20%      thin        N         >=2     False
19        Y     Y           <20%      thin        N          <2     False
20        Y     Y           <20%      thin        Y         >=2      True
21        Y     Y           <20%      thin        Y          <2     False
22        Y     N           <20%      thin        Y          <2      True
23        Y     N           <20%      thin        Y         >=2      True
24        Y     N           <20%      thin        N          <2     False
25        Y     N           <20%      thin        N         >=2      True
26        N     N           <20%      thin        Y          <2      True
27        N     N           <20%      thin        Y          <2     False
28        N     N          >=20%      thin        N         >=2     False
29        Y     Y           <20%      thin        N         >=2      True
30        Y     Y           <20%      thin        Y         >=2      True
31        Y     Y          >=20%      thin        N         >=2      True
32        Y     N          >=20%      thin        Y          <2     False
33        N    N            <20%      thin        N          >2      True
34        N     N           <20%     thick        N          >2     False
35        N     N          >=20%      thin        N          <2      True
36        Y     N           <20%     thick        N          <2     False
37        Y    N            <20%     thick        Y          <2     False
38       Y      N           <20%      thin        Y          <2      True
39        Y     N          >=20%      thin        N          >2      True

   helpful_votes label
0           >=50    nf
1           >=50    nf
2           >=50    nf
3            <50    nf
4            <50    nf
5           >=50    nf
6            <50    nf
7           >=50    nf
8           >=50    nf
9           >=50    nf
10          >=50    nf
11           <50    nf
12          >=50     f
13           <50    nf
14           <50     f
15          >=50     f
16           <50     f
17           <50     f
18          >=50    nf
19           <50    nf
20          >=50    nf
21          >=50    nf
22           <50     f
23           <50     f
24          >=50     f
25          >=50     f
26          >=50     f
27          >=50     f
28           <50     f
29          >=50    nf
30           <50    nf
31          >=50    nf
32           <50     f
33           <50     f
34           <50     f
35           <50     f
36          >=50     f
37           <50     f
38          >=50     f
39           <50     f  >

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 9 columns):
response          40 non-null object
reply             40 non-null object
profile_useful    40 non-null object
thickness         40 non-null object
template          40 non-null object
star_rating       40 non-null object
verified          40 non-null bool
helpful_votes     40 non-null object
label             40 non-null object
dtypes: bool(1), object(8)
memory usage: 1.4+ KB

# Train-Test-Split

In [8]:
def train_test_split(df, test_size):
    
    if isinstance(test_size, float):
        test_size = round(test_size * len(df))

    indices = df.index.tolist()
    test_indices = random.sample(population=indices, k=test_size)

    test_df = df.loc[test_indices]
    train_df = df.drop(test_indices)
    
    return train_df, test_df

In [9]:
indices = df.index.tolist()           #for total number of tuple

In [10]:
test_size = 20

In [11]:
test_indices = random.sample(population=indices, k = test_size)

In [12]:
test_df = df.loc[test_indices]

In [13]:
train_df = df.drop(test_indices)

In [14]:
random.seed(0)
train_df, test_df = train_test_split(df, test_size=15)

In [15]:
test_df.head()

,response,reply,profile_useful,thickness,template,star_rating,verified,helpful_votes,label
24,Y,N,<20%,thin,N,<2,False,>=50,f
26,N,N,<20%,thin,Y,<2,True,>=50,f
2,Y,Y,>=20%,thick,Y,>=2,False,>=50,nf
16,N,N,<20%,thin,N,<2,True,<50,f
32,Y,N,>=20%,thin,Y,<2,False,<50,f

In [16]:
len(test_df)

15

In [17]:
test_df.head()

,response,reply,profile_useful,thickness,template,star_rating,verified,helpful_votes,label
24,Y,N,<20%,thin,N,<2,False,>=50,f
26,N,N,<20%,thin,Y,<2,True,>=50,f
2,Y,Y,>=20%,thick,Y,>=2,False,>=50,nf
16,N,N,<20%,thin,N,<2,True,<50,f
32,Y,N,>=20%,thin,Y,<2,False,<50,f

In [18]:
test_df.head()

,response,reply,profile_useful,thickness,template,star_rating,verified,helpful_votes,label
24,Y,N,<20%,thin,N,<2,False,>=50,f
26,N,N,<20%,thin,Y,<2,True,>=50,f
2,Y,Y,>=20%,thick,Y,>=2,False,>=50,nf
16,N,N,<20%,thin,N,<2,True,<50,f
32,Y,N,>=20%,thin,Y,<2,False,<50,f

# Helper Functions

In [19]:
train_df.values

array([['Y', 'Y', '>=20%', 'thick', 'N', '>=2', False, '>=50', 'nf'],
       ['Y', 'Y', '>=20%', 'thick', 'N', '<2', True, '>=50', 'nf'],
       ['Y', 'Y', '>=20%', 'thick', 'Y', '<2', True, '<50', 'nf'],
       ['Y', 'N', '>=20%', 'thick', 'N', '<2', False, '>=50', 'nf'],
       ['Y', 'N', '>=20%', 'thick', 'Y', '<2', True, '>=50', 'nf'],
       ['N', 'N', '>=20%', 'thick', 'N', '>=2', False, '>=50', 'nf'],
       ['N', 'N', '>=20%', 'thick', 'N', '<2', True, '>=50', 'nf'],
       ['N', 'N', '>=20%', 'thick', 'Y', '>=2', False, '>=50', 'nf'],
       ['Y', 'N', '>=20%', 'thick', 'N', '>=2', False, '>=50', 'f'],
       ['N', 'N', '<20%', 'thick', 'N', '<2', False, '<50', 'nf'],
       ['N', 'N', '<20%', 'thin', 'Y', '<2', False, '<50', 'f'],
       ['N', 'N', '<20%', 'thin', 'Y', '>=2', True, '>=50', 'f'],
       ['N', 'N', '<20%', 'thin', 'N', '>=2', True, '<50', 'f'],
       ['Y', 'Y', '<20%', 'thin', 'Y', '>=2', True, '>=50', 'nf'],
       ['Y', 'Y', '<20%', 'thin', 'Y', '<2', False, '>=50', 'nf'],
       ['Y', 'N', '<20%', 'thin', 'Y', '<2', True, '<50', 'f'],
       ['Y', 'N', '<20%', 'thin', 'Y', '>=2', True, '<50', 'f'],
       ['N', 'N', '<20%', 'thin', 'Y', '<2', False, '>=50', 'f'],
       ['Y', 'Y', '<20%', 'thin', 'N', '>=2', True, '>=50', 'nf'],
       ['N', 'N ', '<20%', 'thin', 'N', '>2', True, '<50', 'f'],
       ['N', 'N', '<20%', 'thick', 'N', '>2', False, '<50', 'f'],
       ['N', 'N', '>=20%', 'thin', 'N', '<2', True, '<50', 'f'],
       ['Y', 'N ', '<20%', 'thick', 'Y', '<2', False, '<50', 'f'],
       ['Y ', 'N', '<20%', 'thin', 'Y', '<2', True, '>=50', 'f'],
       ['Y', 'N', '>=20%', 'thin', 'N', '>2', True, '<50', 'f']],
      dtype=object)

In [20]:
data = train_df.values
data[:5]

array([['Y', 'Y', '>=20%', 'thick', 'N', '>=2', False, '>=50', 'nf'],
       ['Y', 'Y', '>=20%', 'thick', 'N', '<2', True, '>=50', 'nf'],
       ['Y', 'Y', '>=20%', 'thick', 'Y', '<2', True, '<50', 'nf'],
       ['Y', 'N', '>=20%', 'thick', 'N', '<2', False, '>=50', 'nf'],
       ['Y', 'N', '>=20%', 'thick', 'Y', '<2', True, '>=50', 'nf']],
      dtype=object)

In [21]:
label_column = data[:,-1]

In [22]:
unique_classes = np.unique(label_column)
len(unique_classes)

2

### Data pure?

In [23]:
def check_purity(data):
    
    label_column = data[:, -1]
    unique_classes = np.unique(label_column)

    if len(unique_classes) == 1:
        return True
    else:
        return False

### Classify

In [24]:
def classify_data(data):
    
    label_column = data[:, -1]
    unique_classes, counts_unique_classes = np.unique(label_column, return_counts=True)

    index = counts_unique_classes.argmax()
    classification = unique_classes[index]
    
    return classification

In [25]:
label_column = data[:,-1]
unique_classes, counts_unique_classes = np.unique(label_column, return_counts=True)

In [26]:
index = counts_unique_classes.argmax()

In [27]:
classification = unique_classes[index]

### Potential splits?

In [28]:
def get_potential_splits(data):
    
    potential_splits = {}
    _, n_columns = data.shape
    for column_index in range(n_columns - 1):          # excluding the last column which is the label
        values = data[:, column_index]
        unique_values = np.unique(values)
        
        potential_splits[column_index] = unique_values
    
    return potential_splits

In [29]:
data.shape

(25, 9)

In [30]:
potential_split = get_potential_splits(train_df.values)

### Split Data

In [31]:
def split_data(data, split_column, split_value):
    
    split_column_values = data[:, split_column]

    type_of_feature = FEATURE_TYPES[split_column]
    if type_of_feature == "continuous":
        data_below = data[split_column_values <= split_value]
        data_above = data[split_column_values >  split_value]
    
    # feature is categorical   
    else:
        data_below = data[split_column_values == split_value]
        data_above = data[split_column_values != split_value]
    
    return data_below, data_above

In [32]:
split_column = 5
split_value = 2

In [33]:
split_column_values = data[:, split_column]

### Lowest Overall Entropy?

In [34]:
def calculate_entropy(data):
    
    label_column = data[:, -1]
    _, counts = np.unique(label_column, return_counts=True)

    probabilities = counts / counts.sum()
    entropy = sum(probabilities * -np.log2(probabilities))
     
    return entropy

In [35]:
split_column = 5
split_value = 2

In [36]:
def calculate_overall_entropy(data_below, data_above):
    
    n = len(data_below) + len(data_above)
    p_data_below = len(data_below) / n
    p_data_above = len(data_above) / n

    overall_entropy =  (p_data_below * calculate_entropy(data_below) 
                      + p_data_above * calculate_entropy(data_above))
    
    return overall_entropy

In [37]:
def determine_best_split(data, potential_splits):
    
    overall_entropy = 9999
    for column_index in potential_splits:
        for value in potential_splits[column_index]:
            data_below, data_above = split_data(data, split_column=column_index, split_value=value)
            current_overall_entropy = calculate_overall_entropy(data_below, data_above)

            if current_overall_entropy <= overall_entropy:
                overall_entropy = current_overall_entropy
                best_split_column = column_index
                best_split_value = value
    
    return best_split_column, best_split_value

# Decision Tree Algorithm

### Determine Type of Feature

In [38]:
def determine_type_of_feature(df):
    
    feature_types = []
    n_unique_values_treshold = 15
    for feature in df.columns:
        if feature != "label":
            unique_values = df[feature].unique()
            example_value = unique_values[0]

            if (isinstance(example_value, str)) or (len(unique_values) <= n_unique_values_treshold):
                feature_types.append("categorical")
            else:
                feature_types.append("continuous")
    
    return feature_types

### Algorithm

In [39]:
def decision_tree_algorithm(df, counter=0, min_samples=2, max_depth=5):
    
    # data preparations
    if counter == 0:
        global COLUMN_HEADERS, FEATURE_TYPES
        COLUMN_HEADERS = df.columns
        FEATURE_TYPES = determine_type_of_feature(df)
        data = df.values
    else:
        data = df           
    
    
    # base cases
    if (check_purity(data)) or (len(data) < min_samples) or (counter == max_depth):
        classification = classify_data(data)
        
        return classification

    
    # recursive part
    else:    
        counter += 1

        # helper functions 
        potential_splits = get_potential_splits(data)
        split_column, split_value = determine_best_split(data, potential_splits)
        data_below, data_above = split_data(data, split_column, split_value)
        
        # check for empty data
        if len(data_below) == 0 or len(data_above) == 0:
            classification = classify_data(data)
            return classification
        
        # determine question
        feature_name = COLUMN_HEADERS[split_column]
        type_of_feature = FEATURE_TYPES[split_column]
        if type_of_feature == "continuous":
            question = "{} <= {}".format(feature_name, split_value)
            
        # feature is categorical
        else:
            question = "{} = {}".format(feature_name, split_value)
        
        # instantiate sub-tree
        sub_tree = {question: []}
        
        # find answers (recursion)
        yes_answer = decision_tree_algorithm(data_below, counter, min_samples, max_depth)
        no_answer = decision_tree_algorithm(data_above, counter, min_samples, max_depth)
        
        # If the answers are the same, then there is no point in asking the qestion.
        # This could happen when the data is classified even though it is not pure
        # yet (min_samples or max_depth base case).
        if yes_answer == no_answer:
            sub_tree = yes_answer
        else:
            sub_tree[question].append(yes_answer)
            sub_tree[question].append(no_answer)
        
        return sub_tree

In [40]:
tree = decision_tree_algorithm(train_df, max_depth=3)
pprint(tree)

{'reply = Y': ['nf',
               {'thickness = thin': ['f', {'star_rating = >2': ['f', 'nf']}]}]}

# Classification

sub_tree = {question: [yes_answer, no_answer]}

In [41]:
def classify_example(example, tree):
    question = list(tree.keys())[0]
    feature_name, comparison_operator, value = question.split(" ")

    # ask question
    if comparison_operator == "<=":
        if example[feature_name] <= float(value):
            answer = tree[question][0]
        else:
            answer = tree[question][1]
    
    # feature is categorical
    else:
        if str(example[feature_name]) == value:
            answer = tree[question][0]
        else:
            answer = tree[question][1]

    # base case
    if not isinstance(answer, dict):
        return answer
    
    # recursive part
    else:
        residual_tree = answer
        return classify_example(example, residual_tree)

In [42]:
#classify_example(example, tree)

# Calculate Accuracy

In [43]:
def calculate_accuracy(df, tree):

    df["classification"] = df.apply(classify_example, args=(tree,), axis=1)
    df["classification_correct"] = df["classification"] == df["label"]
    
    accuracy = df["classification_correct"].mean()
    
    return accuracy

In [44]:
accuracy = calculate_accuracy(test_df, tree)
accuracy

0.9333333333333333

In [45]:
test_df

,response,reply,profile_useful,thickness,template,star_rating,verified,helpful_votes,label,classification,classification_correct
24,Y,N,<20%,thin,N,<2,False,>=50,f,f,True
26,N,N,<20%,thin,Y,<2,True,>=50,f,f,True
2,Y,Y,>=20%,thick,Y,>=2,False,>=50,nf,nf,True
16,N,N,<20%,thin,N,<2,True,<50,f,f,True
32,Y,N,>=20%,thin,Y,<2,False,<50,f,f,True
31,Y,Y,>=20%,thin,N,>=2,True,>=50,nf,nf,True
25,Y,N,<20%,thin,N,>=2,True,>=50,f,f,True
19,Y,Y,<20%,thin,N,<2,False,<50,nf,nf,True
30,Y,Y,<20%,thin,Y,>=2,True,<50,nf,nf,True
11,N,N,>=20%,thick,Y,<2,True,<50,nf,nf,True
18,Y,Y,<20%,thin,N,>=2,False,>=50,nf,nf,True
28,N,N,>=20%,thin,N,>=2,False,<50,f,f,True
6,Y,N,>=20%,thick,Y,>=2,False,<50,nf,nf,True
36,Y,N,<20%,thick,N,<2,False,>=50,f,nf,False
4,Y,N,>=20%,thick,N,>=2,True,<50,nf,nf,True

### Decision Tree Algorithm

In [50]:
random.seed(0)
train_df, test_df = train_test_split(df, 15)
tree = decision_tree_algorithm(train_df, max_depth=5)
accuracy = calculate_accuracy(test_df, tree)

pprint(tree, width=50)
accuracy

{'reply = Y': ['nf',
               {'thickness = thin': ['f',
                                     {'star_rating = >2': ['f',
                                                           {'response = Y': [{'helpful_votes = >=50': ['nf',
                                                                                                       'f']},
                                                                             'nf']}]}]}]}

0.8

In [47]:
test_df

,response,reply,profile_useful,thickness,template,star_rating,verified,helpful_votes,label,classification,classification_correct
24,Y,N,<20%,thin,N,<2,False,>=50,f,f,True
26,N,N,<20%,thin,Y,<2,True,>=50,f,f,True
2,Y,Y,>=20%,thick,Y,>=2,False,>=50,nf,nf,True
16,N,N,<20%,thin,N,<2,True,<50,f,f,True
32,Y,N,>=20%,thin,Y,<2,False,<50,f,f,True
31,Y,Y,>=20%,thin,N,>=2,True,>=50,nf,nf,True
25,Y,N,<20%,thin,N,>=2,True,>=50,f,f,True
19,Y,Y,<20%,thin,N,<2,False,<50,nf,nf,True
30,Y,Y,<20%,thin,Y,>=2,True,<50,nf,nf,True
11,N,N,>=20%,thick,Y,<2,True,<50,nf,nf,True
18,Y,Y,<20%,thin,N,>=2,False,>=50,nf,nf,True
28,N,N,>=20%,thin,N,>=2,False,<50,f,f,True
6,Y,N,>=20%,thick,Y,>=2,False,<50,nf,f,False
36,Y,N,<20%,thick,N,<2,False,>=50,f,nf,False
4,Y,N,>=20%,thick,N,>=2,True,<50,nf,f,False

# Titanic dataset

In [48]:
df = pd.read_csv(r"C:\Users\Himanshu\Desktop\My Things\Decision-Tree-from-Scratch-master\data\Titanic.csv")
df["label"] = df.Survived
df = df.drop(["PassengerId", "Survived", "Name", "Ticket", "Cabin"], axis=1)

# handling missing value
median_age = df.Age.median()
mode_embarked = df.Embarked.mode()[0]

df = df.fillna({"Age": median_age, "Embarked": mode_embarked})

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
Pclass      891 non-null int64
Sex         891 non-null object
Age         891 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
Embarked    891 non-null object
label       891 non-null int64
dtypes: float64(2), int64(4), object(2)
memory usage: 48.8+ KB

In [50]:
train_df, test_df = train_test_split(df, 0.2)
tree = decision_tree_algorithm(train_df, max_depth=5)
accuracy = calculate_accuracy(test_df, tree)

pprint(tree, width=50)
print(accuracy)

{'Sex = male': [{'Fare <= 15.1': [{'Age <= 12.0': [1,
                                                   0]},
                                  {'Age <= 3.0': [{'Pclass = 3': [{'Fare <= 31.3875': [1,
                                                                                       0]},
                                                                  1]},
                                                  {'Pclass = 2': [{'Age <= 8.0': [1,
                                                                                  0]},
                                                                  {'Fare <= 263.0': [0,
                                                                                     1]}]}]}]},
                {'Pclass = 3': [{'Fare <= 23.25': [{'Age <= 36.0': [1,
                                                                    0]},
                                                   {'Parch = 0': [1,
                                                                  0]}]},
                                {'Fare <= 28.7125': [{'Fare <= 27.75': [1,
                                                                        0]},
                                                     1]}]}]}
0.8202247191011236

In [51]:
tree = decision_tree_algorithm(train_df, max_depth=3)
pprint(tree, width=50)

{'Sex = male': [{'Fare <= 15.1': [{'Age <= 12.0': [1,
                                                   0]},
                                  {'Age <= 3.0': [1,
                                                  0]}]},
                {'Pclass = 3': [{'Fare <= 23.25': [1,
                                                   0]},
                                1]}]}

In [52]:
example = df.iloc[0]
example

Pclass         3
Sex         male
Age           22
SibSp          1
Parch          0
Fare        7.25
Embarked       S
label          0
Name: 0, dtype: object

In [53]:
classify_example(example, tree)

0

In [58]:
test_df

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,label,classification,classification_correct
802,1,male,11.0,1,2,120.0000,S,1,0,False
849,1,female,28.0,1,0,89.1042,C,1,1,True
310,1,female,24.0,0,0,83.1583,C,1,1,True
488,3,male,30.0,0,0,8.0500,S,0,0,True
366,1,female,60.0,1,0,75.2500,C,1,1,True
...,...,...,...,...,...,...,...,...,...,...
800,2,male,34.0,0,0,13.0000,S,0,0,True
379,3,male,19.0,0,0,7.7750,S,0,0,True
753,3,male,23.0,0,0,7.8958,S,0,0,True
37,3,male,21.0,0,0,8.0500,S,0,0,True
721,3,male,17.0,1,0,7.0542,S,0,0,True

In [59]:
print(accuracy)

0.8202247191011236

In [55]:
train_df.shape

(713, 8)